--USE master
--GO
--/****** Object:  Database ARONLIGHT    Script Date: 06-02-2019 05:13:40 ******/
--CREATE DATABASE ARONLIGHT
--DROP DATABASE ARONLIGHT
--GO

--USE ARONLIGHT
--GO

/****** Object:  Table FixturePart    Script Date: 06-02-2019 05:13:40 ******/
 
CREATE TABLE FixturePart(
	FixturePartID	INT IDENTITY(1,1) NOT NULL,
	FixtureID		INT NOT NULL,
	PartID			INT NOT NULL,
	Quantity		INT NULL,
 CONSTRAINT PK_FixturePart PRIMARY KEY CLUSTERED 
(
	FixturePartID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table Fixture    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE Fixture(
	FixtureID		INT IDENTITY(1,1)	NOT NULL,
	FixtureName		NVARCHAR(200)		NOT NULL,
	FixtureCost		DECIMAL(9,2)			NULL,

 CONSTRAINT PK_Fixture PRIMARY KEY CLUSTERED 
(
	FixtureID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table Part    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE Part
(
	PartID				INT IDENTITY(1,1) NOT	NULL,
	PartName			Nvarchar(200)			NULL,
	PartDescription		Nvarchar(500)			NULL,
	PartVendor			Nvarchar(50)			NULL,
	PartCost			Decimal(9,2)			NULL,
	PartQuantity		INT						NULL,

 CONSTRAINT PK_Part PRIMARY KEY CLUSTERED 
(
	PartID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table POFixture    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE POFixture(
	POFixtureID				INT IDENTITY(1,1) NOT NULL,
	FixtureID					INT NULL,
	FixturePrice				DECIMAL(9,2) NULL,
	FixtureCommision			DECIMAL(9,2) NULL,
	FixtureQuantity				INT NULL,
	FixtureQuantityCompleted	INT NULL,
	FixtureQuantityShipped		INT NULL,
	FixtureCost					DECIMAL(9,2) NULL,
 CONSTRAINT PK_POFixture PRIMARY KEY CLUSTERED 
(
	POFixtureID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table POItem    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE POItem(
	POItemID			INT IDENTITY(1,1) NOT NULL,
	POFixtureID			INT NULL,
	POFixtureQuantity	INT NULL,
	POID				INT NULL,
 CONSTRAINT PK_POItem PRIMARY KEY CLUSTERED 
(
	POItemID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table POPart    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE POPart(
	POPartID		INT IDENTITY(1,1) NOT NULL,
	POItemID		INT	NOT NULL CONSTRAINT	POPart_FK_POItemID
											REFERENCES	POItem,
	PartID			INT NULL,
	Quantity		INT NULL,
 CONSTRAINT PK_POPart PRIMARY KEY CLUSTERED 
(
	POPartID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table PurchaseOrder    Script Date: 06-02-2019 05:13:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE PurchaseOrder(
	POID				INT IDENTITY(1,1) NOT NULL,
	PONumber			Nvarchar(50) NULL,
	POItemID			INT NULL,
	PORecCate			Nvarchar(50) NULL,
	POEstShipDate		DATE NULL,
	POActShipDate		DATE NULL,
	POCost				DECIMAL(9,2) NULL,
	POPrice				DECIMAL(9,2) NULL,
	POCompleted			BIT NULL,
	CreatedAt			SMALLDATETIME NULL,
	POPartID			INT NULL,
 CONSTRAINT PK_PurchaseOrder PRIMARY KEY CLUSTERED 
(
	POID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE FixturePart  WITH CHECK ADD  CONSTRAINT FixturePartFixtureID FOREIGN KEY(FixtureID)
REFERENCES Fixture (FixtureID)
GO
ALTER TABLE FixturePart CHECK CONSTRAINT FixturePartFixtureID
GO
ALTER TABLE FixturePart  WITH CHECK ADD  CONSTRAINT FixturePartPartID FOREIGN KEY(PartID)
REFERENCES Part (PartID)
GO
ALTER TABLE FixturePart CHECK CONSTRAINT FixturePartPartID
GO
ALTER TABLE FixturePart  WITH CHECK ADD  CONSTRAINT FK_FixturePartFixturePart FOREIGN KEY(FixturePartID)
REFERENCES FixturePart (FixturePartID)
GO
ALTER TABLE FixturePart CHECK CONSTRAINT FK_FixturePartFixturePart
GO
ALTER TABLE POFixture  WITH CHECK ADD  CONSTRAINT POPart_Part_FixtureID FOREIGN KEY(FixtureID)
REFERENCES Fixture (FixtureID)
GO
ALTER TABLE POFixture CHECK CONSTRAINT POPart_Part_FixtureID
GO
ALTER TABLE POItem  WITH CHECK ADD  CONSTRAINT POItem_POFixtureID FOREIGN KEY(POFixtureID)
REFERENCES POFixture (PoFixtureID)
GO
ALTER TABLE POItem CHECK CONSTRAINT POItem_POFixtureID
GO
ALTER TABLE POItem  WITH CHECK ADD  CONSTRAINT POItem_POID FOREIGN KEY(POID)
REFERENCES PurchaseOrder (POID)
GO
ALTER TABLE POItem CHECK CONSTRAINT POItem_POID
GO
ALTER TABLE POPart  WITH CHECK ADD  CONSTRAINT FK_partId FOREIGN KEY(PartID)
REFERENCES Part (PartID)
GO
ALTER TABLE POPart CHECK CONSTRAINT FK_partId
GO
ALTER TABLE PurchaseOrder  WITH CHECK ADD  CONSTRAINT PurchaseOrder_POItemID FOREIGN KEY(POItemID)
REFERENCES POItem (POItemID)
GO
ALTER TABLE PurchaseOrder CHECK CONSTRAINT PurchaseOrder_POItemID
GO
ALTER TABLE PurchaseOrder  WITH CHECK ADD  CONSTRAINT PurchaseOrder_POPartID FOREIGN KEY(POPartID)
REFERENCES POPart (POPartID)
GO
ALTER TABLE PurchaseOrder CHECK CONSTRAINT PurchaseOrder_POPartID
GO
 