@using WebPortal.UI.Web.GlobalResource;
@using System.Web.Configuration;
@{
    ViewBag.Title = Resource.Customer;
    Layout = "~/Views/Shared/_Layout_BS.cshtml";
    var jq = WebConfigurationManager.AppSettings["jqueryVersionUpdate"].ToString();
}
<link rel="stylesheet" href="~/assets/css/chosen.min.css?@jq" />
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a id="HomebreadcrumbURL" href="#">Home</a>
        </li>
        @*<li><a href="#">Masters</a></li>*@
        <li class="active"><a href="/Customer/Customer/@ViewBag.EncryptScreenID" class="active">Customer</a> </li>
    </ul>

    <div class="pull-right" style="">
        <span id="divExport" style="display:none;" class="dt-buttons btn-overlap btn-group">
            <a id="btnExportToExcel" href="#" style="margin-right: 9px !important;color:black;" class="dt-button buttons-excel" tabindex="0" aria-controls="dynamic-table" onclick="ExportToExcelGrid('#tblGrid','excel');">
                <i style="font-size: 20px !important;color: green;" class="fa fa-file-excel-o bigger-110" title="ExportToExcel"></i> <span class="hidden">ExportToExcel</span>
            </a>
        </span>&nbsp;&nbsp;
        <span id="divAdd" class="pull-right" title="Add"></span>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-12 col-xs-12" id="divGridCustomer">
            <div id="dtRole_wrapper" class="form-inline dt-bootstrap no-footer">
                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="tblGrid" role="grid">
                    <template>
                        Customer
                    </template>
                    <thead>
                        <tr role="row">
                            <th class="col-md-4 col-xs-4">Customer</th>
                            <th class="col-md-1 col-xs-1">Contact No.</th>
                            <th class="col-md-1 col-xs-1">DOB</th>
                            <th class="col-md-1 col-xs-1">Anniversary</th>
                            <th class="col-md-1 col-xs-1">Address</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <div id="Master_Form" class="col-md-6 col-xs-12" style="display: none">
        </div>
    </div>
</div><!-- /.page-content -->
@*<!-- page specific plugin scripts -->*@
@section Scripts{
    <script id="Grid_Data_Template_tblGrid" type="text/x-jquery-tmpl">
        <tr data-id="${CustomerID}">
            <td align="left" title="Edit" class="HasUpdatetds" style="cursor:pointer;" onclick="customer.GetDataByID(xhr_getData_For_Edit, ${CustomerID});">
                <a>${CustomerName}</a>
            </td>
            <td align="left">${CustomerShortCode}</td>
            <td align="center">${EffectiveFromDateCustom}</td>
            <td align="center">${EffectiveTillDateCustom}</td>
            <td align="center"></td>
        </tr>
    </script>
    <script type="text/javascript">
        var scrnID = @ViewBag.screenID;
        var AddTitle = "Add";
        var EditTitle = "Edit";
        var InvalidEmail = "InvalidEmail";
        var encryptScreenID = "@ViewBag.EncryptScreenID";
        var CanNotChanageLocationMessages = "CanNotChanageLocationMessages";
        var CustomerNameIsAlreadyExists = "CustomerNameIsAlreadyExists";
        var CustomerCodeIsAlreadyExists = "CustomerCodeIsAlreadyExists";
        var FromDateisGreaterMessage = "FromDateisGreaterMessage";

        var Logosizeshouldnotbeexceed = "Logosizeshouldnotbeexceed";
        var ConfirmPasswordMissMatch = "ConfirmPasswordMissMatch";

        var HolidayExistMessage = "SelectedDateExist";
        var WeeklyOffExistMessage = "Selecteddayexist";
        var _LocationID = @ViewBag.LocationID;

    </script>

    <script src="~/Scripts/Client.js?@jq"></script>
    <script src="~/assets/js/chosen.jquery.min.js?@jq"></script>
    <link href='~/Assets/css/colorbox.min.css?@jq' rel='stylesheet' />
    <script src='~/Assets/js/jquery.colorbox.min.js?@jq'></script>
}